body {
    background-color: #1C1C1C;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

.App {
    display: flex;
    justify-content: center;
}
h1{
    font-size: 1.7rem;
    font-family: 'Signika Negative', sans-serif;
    margin: 1rem 0;
    color:whitesmoke;       
}
.container-wrapp {
    background-color: #4F4F4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 16rem;
    padding: 1rem;
    border-radius: 1rem;
}
input{
    width: 20rem;
    height: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    border:none;
    outline: none;
}
input:focus{
    background-color: lightblue;
}
input::placeholder{
    font-style: italic;
 
}
.btn-Add{
    background-color: #ffcc13;
    border:none;
    border-radius: 1rem;
    width: 20rem;
    height: 2.5rem;
    font-weight: bold;
    font-family:'Signika Negative', sans-serif ;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
}