body {
  background-color: #1c1c1c !important;
  box-sizing: border-box !important;
  font-size: 62, 5% !important;
  font-family: "Noto Sans", sans-serif !important;
}
.Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.container-wrapp {
  width: 25rem;
  height: 25rem;
  background-color: #696969;
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0 0 0;
}
h1 {
  color: #1c1c1c;
  font-weight: bold;
}
input {
  width: 20rem;
  height: 2.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}
input::placeholder {
  color: #1c1c1cb7;
  font-style: italic;
}
input:focus {
  background-color: lightgray;
}
.btn-Add {
  width: 20rem;
  height: 3rem;
  border: none;
  font-weight: bold;
  font-size: larger;
  background-color: #d79413;
  border-radius: 1rem;
  color: #1c1c1c;
  text-transform: uppercase;
  cursor: pointer;
}
.List {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.row {
  border-left: solid 0.5rem black;
}

